In [2]:
import pandas as pd
from xplore.data import xplore

c:\Users\OLA\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
data = pd.read_csv("weatherseattle.csv")
xplore(data)

------------------------------------
The fist 5 entries of your dataset are:

         date  precipitation  temp_max  temp_min  wind  weather  2.651428571  \
0  01/01/2012            0.0      12.8       5.0   4.7  drizzle          NaN
1  02/01/2012           10.9      10.6       2.8   4.5     rain          NaN
2  03/01/2012            0.8      11.7       7.2   2.3     rain          NaN
3  04/01/2012           20.3      12.2       5.6   4.7     rain          NaN
4  05/01/2012            1.3       8.9       2.8   6.1     rain          NaN

   Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
0         NaN         NaN         NaN          NaN          NaN          NaN
1         NaN         NaN         NaN          NaN          NaN          NaN
2         NaN         NaN         NaN          NaN          NaN          NaN
3         NaN         NaN         NaN          NaN          NaN          NaN
4         NaN         NaN         NaN          NaN          NaN          NaN

   Unnamed: 13  Unnamed: 14  Unnamed: 15 Unnamed: 16
0          NaN          NaN          NaN         NaN
1          NaN          NaN          NaN         NaN
2          NaN          NaN          NaN         NaN
3          NaN          NaN          NaN         NaN
4          NaN          NaN          NaN         NaN


------------------------------------
The last 5 entries of your dataset are:

           date  precipitation  temp_max  temp_min  wind weather  2.651428571  \
726  27/12/2013            0.3       8.9       0.0   2.1    rain          NaN
727  28/12/2013            0.0       9.4       3.3   1.3     sun          NaN
728  29/12/2013            0.0       7.2       1.7   1.1     sun          NaN
729  30/12/2013            0.3       8.9       4.4   2.6    rain          NaN
730  31/12/2013            0.5       8.3       5.0   1.7    rain          NaN

     Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
726         NaN         NaN         NaN          NaN          NaN
727         NaN         NaN         NaN          NaN          NaN
728         NaN         NaN         NaN          NaN          NaN
729         NaN         NaN         NaN          NaN          NaN
730         NaN         NaN         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15 Unnamed: 16
726          NaN          NaN          NaN          NaN         NaN
727          NaN          NaN          NaN          NaN         NaN
728          NaN          NaN          NaN          NaN         NaN
729          NaN          NaN          NaN          NaN         NaN
730          NaN          NaN          NaN          NaN         NaN


------------------------------------
Stats on your dataset:

<bound method NDFrame.describe of            date  precipitation  temp_max  temp_min  wind  weather  \
0    01/01/2012            0.0      12.8       5.0   4.7  drizzle
1    02/01/2012           10.9      10.6       2.8   4.5     rain
2    03/01/2012            0.8      11.7       7.2   2.3     rain
3    04/01/2012           20.3      12.2       5.6   4.7     rain
4    05/01/2012            1.3       8.9       2.8   6.1     rain
..          ...            ...       ...       ...   ...      ...
726  27/12/2013            0.3       8.9       0.0   2.1     rain
727  28/12/2013            0.0       9.4       3.3   1.3      sun
728  29/12/2013            0.0       7.2       1.7   1.1      sun
729  30/12/2013            0.3       8.9       4.4   2.6     rain
730  31/12/2013            0.5       8.3       5.0   1.7     rain

     2.651428571  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0            NaN         NaN         NaN         NaN          NaN
1            NaN         NaN         NaN         NaN          NaN
2            NaN         NaN         NaN         NaN          NaN
3            NaN         NaN         NaN         NaN          NaN
4            NaN         NaN         NaN         NaN          NaN
..           ...         ...         ...         ...          ...
726          NaN         NaN         NaN         NaN          NaN
727          NaN         NaN         NaN         NaN          NaN
728          NaN         NaN         NaN         NaN          NaN
729          NaN         NaN         NaN         NaN          NaN
730          NaN         NaN         NaN         NaN          NaN

     Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
..           ...          ...          ...          ...          ...
726          NaN          NaN          NaN          NaN          NaN
727          NaN          NaN          NaN          NaN          NaN
728          NaN          NaN          NaN          NaN          NaN
729          NaN          NaN          NaN          NaN          NaN
730          NaN          NaN          NaN          NaN          NaN

    Unnamed: 16
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
726         NaN
727         NaN
728         NaN
729         NaN
730         NaN

[731 rows x 17 columns]>


------------------------------------
The Value types of each column are:

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
2.651428571      float64
Unnamed: 7       float64
Unnamed: 8       float64
Unnamed: 9       float64
Unnamed: 10      float64
Unnamed: 11      float64
Unnamed: 12      float64
Unnamed: 13      float64
Unnamed: 14      float64
Unnamed: 15      float64
Unnamed: 16       object
dtype: object


------------------------------------
Info on your Dataset:

<bound method DataFrame.info of            date  precipitation  temp_max  temp_min  wind  weather  \
0    01/01/2012            0.0      12.8       5.0   4.7  drizzle
1    02/01/2012           10.9      10.6       2.8   4.5     rain
2    03/01/2012            0.8      11.7       7.2   2.3     rain
3    04/01/2012           20.3      12.2       5.6   4.7     rain
4    05/01/2012            1.3       8.9       2.8   6.1     rain
..          ...            ...       ...       ...   ...      ...
726  27/12/2013            0.3       8.9       0.0   2.1     rain
727  28/12/2013            0.0       9.4       3.3   1.3      sun
728  29/12/2013            0.0       7.2       1.7   1.1      sun
729  30/12/2013            0.3       8.9       4.4   2.6     rain
730  31/12/2013            0.5       8.3       5.0   1.7     rain

     2.651428571  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0            NaN         NaN         NaN         NaN          NaN
1            NaN         NaN         NaN         NaN          NaN
2            NaN         NaN         NaN         NaN          NaN
3            NaN         NaN         NaN         NaN          NaN
4            NaN         NaN         NaN         NaN          NaN
..           ...         ...         ...         ...          ...
726          NaN         NaN         NaN         NaN          NaN
727          NaN         NaN         NaN         NaN          NaN
728          NaN         NaN         NaN         NaN          NaN
729          NaN         NaN         NaN         NaN          NaN
730          NaN         NaN         NaN         NaN          NaN

     Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
..           ...          ...          ...          ...          ...
726          NaN          NaN          NaN          NaN          NaN
727          NaN          NaN          NaN          NaN          NaN
728          NaN          NaN          NaN          NaN          NaN
729          NaN          NaN          NaN          NaN          NaN
730          NaN          NaN          NaN          NaN          NaN

    Unnamed: 16
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
726         NaN
727         NaN
728         NaN
729         NaN
730         NaN

[731 rows x 17 columns]>


------------------------------------
The shape of your dataset in the order of rows and columns is:

(731, 17)


------------------------------------
The features of your dataset are:

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather',
       '2.651428571', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')


------------------------------------
The total number of null values from individual columns of your data set are:

date               0
precipitation      0
temp_max           0
temp_min           0
wind               0
weather            0
2.651428571      731
Unnamed: 7       731
Unnamed: 8       731
Unnamed: 9       731
Unnamed: 10      731
Unnamed: 11      731
Unnamed: 12      731
Unnamed: 13      731
Unnamed: 14      731
Unnamed: 15      731
Unnamed: 16      730
dtype: int64


------------------------------------
The number of rows in your dataset are:

731


------------------------------------
The values in your dataset are:

[['01/01/2012' 0.0 12.8 ... nan nan nan]
 ['02/01/2012' 10.9 10.6 ... nan nan nan]
 ['03/01/2012' 0.8 11.7 ... nan nan nan]
 ...
 ['29/12/2013' 0.0 7.2 ... nan nan nan]
 ['30/12/2013' 0.3 8.9 ... nan nan nan]
 ['31/12/2013' 0.5 8.3 ... nan nan nan]]


------------------------------------


Do you want to generate a detailed report on the exploration of your dataset?
Generating report...

Summarize dataset: 100%|██████████| 42/42 [00:05<00:00,  7.13it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.15s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.83s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 125.38it/s]

Your Report has been generated and saved as 'output.html'

In [17]:
print(winter1.describe())

       precipitation   temp_max   temp_min      wind
count      91.000000  91.000000  91.000000  91.00000
mean        4.929670   8.614286   2.513187   4.01978
std         6.523385   3.323973   2.834400   1.61639
min         0.000000  -1.100000  -3.300000   1.30000
25%         0.000000   6.700000   0.600000   2.70000
50%         2.500000   8.300000   2.200000   3.80000
75%         8.100000  10.000000   5.000000   5.10000
max        27.700000  16.100000   7.800000   8.20000